body {
  background-color: whitesmoke;
}

//* Navbar Styles */
.navbar {
  background-color: #757373;
  padding: 10px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.navbar img {
  max-width: 100%;
  height: auto;
}


/* Navbar Links Styles */
.navbar-nav  {
  list-style: none;
  color: blue;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 40px;
  left: 0;
  width: 90%;
  display: none;
}

.navbar-nav a .nav-link .nav-item {
  color: red; /* Set the color to red */
} 
.nav-link{
  color: blue;
}


.nav-item a{
  margin: 0 10px;
  color: blue;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  
  .navbar-nav {
    flex-direction: column;
    text-align: left;
    position: static;
    top: 10px;
    left: 10px;
    width: 50%;
    background-color: #757474;
  }

 
  .navbar-nav.show .navbar-toggler {
    display: none;
  }

  .nav-item {
    margin: 10px 0;
  }
}    





.container-image {
  width: 900px;
  margin: 0 auto;
}
.card {
  position: relative;
  width: 270px;
  float: left;
  margin: 10px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.info {
  /*   display: none; */
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
  -webkit-transition: 0.5s ease-out;
}
.info p {
  color: #fff;
}
.info:hover {
  /*   -webkit-transition: 500ms; */
  margin-top: 0;
  opacity: 1;
}

@media (max-width: 991px) {
  h3.agileits-icons-title {
    font-size: 28px;
  }
  h3.icon-subheading {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  h3.agileits-icons-title {
    font-size: 28px;
  }
  h3.icon-subheading {
    font-size: 25px;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .icon-box {
    margin: 0;
  }
}
@media (max-width: 640px) {
  .icon-box {
    float: left;
    width: 50%;
  }
}
@media (max-width: 480px) {
  .bs-glyphicons li {
    width: 31%;
  }
}
@media (max-width: 414px) {
  h3.agileits-icons-title {
    font-size: 23px;
  }
  h3.icon-subheading {
    font-size: 18px;
  }
  .bs-glyphicons li {
    width: 31.33%;
  }
}
@media (max-width: 384px) {
  .icon-box {
    float: none;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .w3_agileits_icons_page {
    margin: 25px 0 0 !important;
  }
}
