@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* body {
  font-family: "Open Sans", serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(228, 241, 237);
}
  
/* Navbar Styles */
.navbar {
  background-color: #f0e9e9;
  padding: 10px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.navbar img {
  max-width: 100%;
  height: auto;
}


/* Navbar Links Styles */
.navbar-nav  {
  list-style: none;
  color: blue;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 40px;
  left: 0;
  width: 90%;
  display: none;
}

.navbar-nav a .nav-link .nav-item {
  color: red; /* Set the color to red */
} 
.nav-link{
  =
}


.nav-item a{
  margin: 0 10px;
  color: blue;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  
  .navbar-nav {
    flex-direction: column;
    text-align: left;
    position: static;
    top: 10px;
    left: 10px;
    width: 50%;
    background-color: #f0e9e9;
  }

 
  .navbar-nav.show .navbar-toggler {
    display: none;
  }

  .nav-item {
    margin: 10px 0;
  }
}    


.about-section{
  padding: 10px;
  padding-left: 20px;
  margin-top: 10px;

}
.about-section h1{
  color: black;
  font-size: 35px;
  text-align: left;
  padding-top: 20px;
  background-color: transparent;
}

.about-section1 h1 {
  background-color: #180904;
  color: white;
  text-align: center;
  font-family: cursive;
}

/* header sliders */

.carousel-item img {
  width: 100%;
  height: 80vh;
  animation: fade 3s infinite;
  
}

/* Custom styles for carousel controls */
.carousel-control-prev, .carousel-control-next {
  font-size: 25px; 
  color: #fd0a47; 
}


.carousel-control-prev:hover, .carousel-control-next:hover {
  color: #0056b3; 
}
/* Responsive styles */
@media (max-width: 768px) {
  
  .carousel-item img {
      max-height: 300px; 
  }
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slider {
  display: none;
  width: 100%;
}
.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: red;
  font-size: 50px;
  font-family: Impact, fantasy;
}
.fade {
  animation: fade 3s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .slider-text {
    font-size: 24px;
  }
}

/* Styles for smaller screens */

@media (max-width: 767px) {
  .slider-text {
    font-size: 16px;
  }
}


/* Rounded border */
hr.rounded {
  border-top: 8px solid #4f09f1;
  border-radius: 5px;
}
/* image about us and our services section */

.container-bodysection {
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-bodysection h3 {
  text-align: center;
}

.image-column1,
.box-column1 {
  flex: 1;
  max-width: 80%;

}
.image-column1 h3 {
  color: black;
  font-size: 45px;
  font-family: Didot, serif;
}

.image-box1 {
  padding-right: 30px;
  text-align: justify;
  padding-left: 30px;
}

.image-box1 h3 {
  font-size: 55px;
  padding-top: 60px;
  padding-left: 10px;
  color: green;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

.image-box1 p {
  color: black;
  font-size: 20px;
  padding-left:10px;
  padding-bottom: 40px;
  font-family: Didot, serif;
}

.image-box a{
  background-color: red;
  border-radius: 5px;
  font-size: 25px;
  color: white;
}

.image-box1 a{
  background-color: red;
  border-radius: 5px;
  font-size: 25px;
  color: white;
}
.image-box1 img {
  max-width: 100%;
  height: auto;
  padding-left: 20px;
  

}

 /* Adjust font sizes for smaller screens using media queries */
 @media (max-width: 768px) {
  .image-box1 h3 {
    font-size: 35px; 
    text-align: center;
    padding: 10px;
  }

  .image-box1 p {
    font-size: 14px; 
    text-align: center;
  }
}

/* Styles for larger screens */

@media (min-width: 768px) {
  .container-bodysection {
    flex-direction: row;
  }

  .box-column1 {
    width: 50%;
    padding: 20px;
  }

  .image-column1 {
    width: 50%;
    padding: 20px;
  }

}

/* Styles for smaller screens */

@media (max-width: 767px) {
  .box-column1, .image-column1 {
    width: 100%;
  }
}

.image-column1 button:hover {
  background-color: #180904;
}

@media screen and (max-width: 768px) {
  .container-bodysection {
    flex-direction: column;
    align-items: center;
  }

  .image-column1,
  .box-column1 {
    max-width: 80%;
  }
}

.card-service {
  text-align: center;
  margin-bottom: 20px;
}

.card-service img {
  max-width: 100%;
  height: auto;
}

.service-container {
  padding-bottom: 60px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.service-container h1 {
  text-align: center;
  font-size: 40px;
  font-family: Stencil Std, fantasy;
  color: rgb(3, 3, 3);
}
.service-container p {
  font-size: 25px;
  text-align: center;
  padding: 50px;
  margin-left: 35px;
  color: black;
}
.container-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.card-service h3 {
  color: blue;
  font-size: 25px;
}

.card-service {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  max-width: 280px;
  text-align: center;
}
.card-service img {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.card-product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  max-width: 250px;
  text-align: center;
  background-color: transparent;
}

.card-product img {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.card-service:hover {
  box-shadow: 0 30px 90px 0 rgba(6, 238, 110, 0.2);
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .column {
    width: 50%;
  }
}

/*responsibilities*/

.container-title h1 {
  text-align: center;
  font-size: 50px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  color: rgb(3, 3, 3);
}
.container-responsibility {
  display: flex;
  
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(221, 218, 218);
}
.container-responsibility h1 {
  text-align: center;
}

.image-column,
.box-column { 
  width: 80%; 
  background-color: rgb(221, 218, 218);
}

.image-box {
  padding-right: 30px;
  text-align: justify;
  padding-left: 30px;
}

.image-box h3 {
  font-size: 55px;
  color: green;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

.image-box p {
  color: black;
  font-size: 20px;
  font-family: Didot, serif;
}
.image-box img {
  max-width: 100%;
  height: auto;
  padding-left: 20px;
}
.image-box button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(12, 12, 12);
  padding-top: 40px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.image-box button a {
  color: black;
}

.image-box button:hover {
  background-color: ;
}

@media screen and (max-width: 768px) {
  .container-responsibility {
    flex-direction: column;
    align-items: center;
  }

  .image-column img,
  .box-column {
    max-width: 100%;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .card-service, .card-product {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

/* Styles for smaller screens */

@media (max-width: 767px) {
  .card-service, .card-product {
    width: 100%;
  }
}

/*footer */
.footer {
  background-color: rgb(20, 131, 235);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.column-touch {
  flex: 1;
  padding: 20px;
}

.column-touch h3 {
  margin-bottom: 10px;
  color: rgb(250, 250, 250);
  font-size: 25px;
  padding-bottom: 20px;
}

.column-touch ul {
  list-style-type: none;
  padding: 0;
  color: white;
}

.column-touch li,
a, p {
  margin-bottom: 5px;
  color: white;
  font-size: 15px;
}

.column-touch a {
  text-decoration: none;
  color: white;
}

.copyright {
  background-color: #05a354;
  color: rgb(248, 248, 248);
  text-align: center;
  padding: 20px;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }

  .column-touch {
    max-width: 100%;
  }
}.copyright{
  width: 100%;
}

.footer {
  background-color: #0a1810;
  padding: 20px;
}

.column-touch {
  margin-bottom: 20px;
}

/* Adjust font sizes for smaller screens using media queries */
@media (max-width: 767px) {
  .column-touch {
    text-align: center;
  }

  .column-touch h3 {
    font-size: 18px; /* Adjust the font size as needed */
  }

  .column-touch p, .column-touch ul {
    font-size: 14px; /* Adjust the font size as needed */
  }

  .copyright p {
    font-size: 12px; /* Adjust the font size as needed */
  }
}


/* End Footer */


@media (max-width: 768px) {
  body {
    font-size: 14px;
    width: 100%;
  }

  nav {
    
    width: 100%;
  }

  .menu li {
    margin-left: 10px;
  }

  .slider-text {
    font-size: 20px;
    width: 100%;
  }

  .image-box1 h3 {
    font-size: 20px;
    width: 100%;
  }
  .image-column1 img {
    width: 100%;
  }
  .image-box h3{
    font-size: 20px;
    width: 100%;
  }

  .image-box1 p {
    font-size: 18px;
    width: 100%;
  }

  .card-service h3 {
    font-size: 20px;
    width:100%;
  }

  .card-service p {
    font-size: 15px;
    width: 100%;
  }

  .card-service img {
    height: 14rem;
    width: 100%;
  }
  .column-touch{
    font-size: 20px;
    width: 100%;
  }
  .footer{
    font-size: 20px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 2px;
  }

  .container-title h1 {
    font-size: 20px;
    width: 100%;
  }

  .footer .column-touch h3 p{
    font-size: 15px;
    width: 100%;
    text-align: center;
  }

  .footer .column-touch ul li{
    font-size: 12px;
    width: 100%;
  }

  .copyright {
    font-size: 10px;
    width: 100%;
    padding: 2px;
    flex-direction: column;
    text-align: center;
    padding: 2px;
  }
}